body{

  font-family: Georgia, serif;
  margin:0;
  background:#f6f6f6;
  /* background: linear-gradient(90deg,#8b5a2b,#7a4f24,#8b5a2b); */
  
  }
  
  .title{
  
  text-align:center;
  margin:40px;
  
  }
  
  /* 首页日记本 */
  
  .book-grid{
  
  display:grid;
  grid-template-columns:repeat(auto-fit,200px);
  justify-content:center;
  gap:40px;
  
  }
  .book{
  
  text-decoration:none;
  color:black;
  text-align:center;
  
  }
  
  .book-icon{
  
  font-size:80px;
  
  }
  .book-cover{
  
  width:180px;
  height:220px;
  
  background:#c97c5d;
  
  color:white;
  
  padding:20px;
  
  border-radius:6px;
  
  box-shadow:
  -8px 0px 0px #8d5a43,
  0 10px 20px rgba(0,0,0,0.2);
  
  transition:transform 0.2s;
  
  }
  
  .book-cover:hover{
  
  transform:translateY(-5px);
  
  }
  
  .book-cover h2{
  
  margin-top:60px;
  
  }
  
  
  /* 博客页面 */
  
  .magazine{
  
  display:grid;
  /* grid-template-columns:repeat(2,1fr); */
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:40px;
  padding:40px;
  max-width:1000px;
  margin:auto;
  
  }
  
  .page{
  
  /* background:white; */
  padding:20px 20px 35px 20px;
  box-shadow:0 15px 30px rgba(0,0,0,0.35), 0 3px 8px rgba(0,0,0,0.25);
  border-radius: 3px;
  position: relative;

  --rotate:0deg;
  --floatY:0px;

  transform:
      rotate(var(--rotate))
      translateY(var(--floatY));

  transition:
      transform 0.25s ease,
      box-shadow 0.25s ease;


  }

  /* 不同颜色 */

  .page:nth-child(5n){

  background:#ffffff;
  
  }
  
  .page:nth-child(5n+1){
  
  background:#f8f8ff; /* 淡紫 */
  
  }
  
  .page:nth-child(5n+2){
  
  background:#f0f8ff; /* 淡蓝 */
  
  }
  
  .page:nth-child(5n+3){
  
  background:#f5fff5; /* 淡绿 */
  
  }
  
  .page:nth-child(5n+4){
  
  background:#fffaf0; /* 淡黄 */
  
  }

  .page:nth-child(3n){

  --rotate:-1deg;
  
  }
  
  .page:nth-child(3n+1){
  
  --rotate:2deg;
  
  }
  
  .page:nth-child(3n+2){
  
  --rotate:-2deg;
  
  }
  

  .page:nth-child(3n){

  position:relative;
  top:2px;
  
  }
  
  .page:nth-child(4n){
  
  position:relative;
  left:3px;
  
  }


  
  .page img{
  
  width:100%;
  margin-bottom:15px;
  transition: transform 0.3s ease;
  
  }
    
  .page img:hover{
  
  transform:scale(1.05);
  
  }

    
  .page:hover{
  
  box-shadow: 0 30px 60px rgba(0,0,0,0.5);
  
  transform:
    rotate(0deg)
    translateY(var(--floatY))
    scale(1.2);

  z-index:10;


  }

  .page::before{

    content:"";
    
    position:absolute;
    
    top:-10px;
    left:35%;
    
    width:80px;
    height:30px;
    
    background:repeating-linear-gradient(
      45deg,
      rgba(255,255,230,0.7),
      rgba(255,255,230,0.7) 4px,
      rgba(255,255,200,0.7) 4px,
      rgba(255,255,200,0.7) 8px
      );
    
    transform:rotate(-3deg);
    
    box-shadow:0 2px 3px rgba(0,0,0,0.2);

    z-index:10;
    
    }

  .page:nth-child(4n)::before{

    left:20%;
    transform:rotate(-6deg);
    
    }
    
  .page:nth-child(4n+1)::before{
    
    left:60%;
    transform:rotate(5deg);
    
    }
    
  .page:nth-child(4n+2)::before{
    
    left:40%;
    transform:rotate(2deg);
    
    }

  .page:nth-child(5n)::after{

    content:"";
    
    position:absolute;
    
    top:-10px;
    right:60%;
    
    width:80px;
    height:30px;
    
    background:rgba(255,255,220,0.7);
    
    transform:rotate(4deg);
    
    box-shadow:0 2px 3px rgba(0,0,0,0.2);
    
    z-index:10;
    
    }

  .photo-layout{

    display:grid;
    grid-template-columns:1fr;
    gap:10px;
    margin-bottom:10px;
    
    }
    
  .photo-layout:has(img:nth-child(2)){
  
  grid-template-columns:1fr 1fr;
  
  }
  
  /* 手机适配 */
  
  @media (max-width:800px){
  
  .magazine{
  
  grid-template-columns:1fr;
  
  }
  
  }

  